@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --accent: #ff9a24;
  --black: #131313;
}

body {
  min-height: 100vh;
}

section {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navbar Starts */

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background-color: white;
  padding: 30px 50px;
  transition: all 0.4s ease-out;
  filter: drop-shadow(5px 5px 10px transparent);

}

nav.sticky {
  background-color: white;
  filter: drop-shadow(5px 5px 10px #ffbe745e);
}

.brand {
  text-decoration: none;
  transition: all ease-in-out0.3s;
  color: var(--black);

}

.brand h1 {
  font-size: 1.8rem;
  font-weight: 900;
}

.accent {
  color: var(--accent);
}

.brand:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu a {
  display: inline-block;
  position: relative;
  color: var(--black);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 32px;
  background-color: white;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
}

.menu a:hover {
  color: white;
  background-color: var(--accent);
}

.btn {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.btn-2 {
  display: flex;
  align-items: center;
  margin-left: 90px;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black);
  transition: all ease-in-out 0.2s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-2 i {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.btn-2:hover i {
  color: var(--accent);
}

.btn-2:hover {
  gap: 0.5rem;
}

/* cards section starts */


.animal-library {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  padding-top: 120px;
  /* 👈 enough space below navbar */
  gap: 40px;
}

.animal-menu {
  width: 200px;
  padding: 3.5%;
  border-right: 2px solid #ddd;
}

.animal-menu ul {
  list-style: none;
  padding: 0;
}

.animal-menu li {
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.3s;
}

.animal-menu li:hover,
.animal-menu li.active {
  background-color: var(--accent);
  color: white;
}

.animal-cards-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.character-card {
  height: 20rem;
  perspective: 500px;
}

.card-inner {
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.character-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-front img,
.card-back img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-front p,
.card-back p {
  height: 50px;
  margin: 0;
  padding: 12px;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back h2 {
  text-align: center;
  margin: 5px;
  text-decoration: underline;
}

/* testimonial ends/ footer starts */

footer {
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    overflow: hidden;

}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    padding: 32px 50px;

}


.footer-links h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 18px;
}

.link-container {
    display: flex;
    gap: 67px;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.links a {

    color: white;
    text-decoration: none;
    transition: all 0.3 ease-out;

}

.links a:hover {
    color: var(--accent);
}

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-brand h1 {
    font-size: 2rem;
    font-weight: 800;
}

.footer-brand p {
    font-size: 1rem;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}

.socials a {
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 0.4rem 0.7rem;
    background-color: var(--black);
    transition: all 0.3s ease-out;

}

.socials a:hover {
    background-color: var(--accent);
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 32px 50px;
}

.contact-info-item {
    display: flex;
    gap: 13px;
    align-items: center;
}

.contact-info-item i {
    font-size: 1.8rem;
}

.contact-info-item p {
    font-size: 1rem;
    text-align: left;
}

.copyright {
    margin-top: 20px;
}

.fbox {
    width: 33.33%;
    /* 100% / 3 boxes */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) and (min-width:0px) {

    section {
    width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /* navbar */

    nav
    {
        padding: 20px 30px;
        width: 100%;
        height: 10%;
    }
    nav .btn
    {
        display: block;
        color: var(--black);
        font-size: 24px;
    }

    nav .menu
    {
        position: fixed;
        background-color: var(--accent);
        flex-direction: column;
        min-width: 60%;
        height: 100dvh;
        top: 0;
        right: -100%;
        padding: 50px;
        transition: 0.5s;
        transition-property: right;
    }

    nav .menu.active
    {
        right: 0;
    }

    nav .menu .close-btn
    {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
        color: white;
    }

    nav .menu a{
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
        padding: 0 15px;
        background-color: var(--accent);
        color: white;
    }

    nav .btn-2{
        margin-left: 0;
    }

    /* nav bar ends/card start */

    .animal-cards-container {
    grid-template-columns: 1fr; /* 1 card per row */
  }

  .character-card {
    height: 450px; /* Let height adjust */
    padding: 0 2rem;
  }
  .card-front img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
 
  .card-front p {
    padding: 12px;
    font-size: 1.4rem;
  }

  .animal-library {
    margin-top: 10%;
    flex-direction: row; /* keep horizontal layout */
    padding: 40px 15px;  /* reduce side padding a bit */
  }

  .animal-menu {
    width: 10rem;       /* reduce width from 200px to 100px */
    padding: 1.5%;      /* reduce padding */
    border-right: 2px solid #ddd;
  }

  .animal-menu li {
    margin-bottom: 1.5rem; /* more gap on mobile */
  }
  .animal-cards-container {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row on mobile */
    gap: 20px;
  }

    /* footer start */

     .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
  }

  .footer-brand,
  .footer-links {
    width: 48%; /* Side-by-side on first row */
  }

  .footer-contact-info {
    width: 100%; /* Second row */
    margin-top: 1.5rem;
  }

  .fbox {
    margin-bottom: 0; /* Remove extra spacing */
  }

  .footer-links .link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .footer-links .links {
    width: 48%;
  }

  .contact-info-item {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  .contact-info-item p {
    margin: 0;
  }
}


/* for mobile */
@media (max-width: 450px) {

 

html, body {
  max-width: 100%;
  overflow-x: hidden;
}



  section {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  nav {
    padding: 16px 20px;
    width: 100%;
    height: 10%;
  }

  nav .btn {
    display: block;
    font-size: 20px;
  }

  nav .menu {
    position: fixed;
    background-color: var(--accent);
    flex-direction: column;
    min-width: 75%;
    height: 100dvh;
    top: 0;
    right: -100%;
    padding: 40px;
    transition: 0.5s;
  }

  nav .menu.active {
    right: 0;
  }

  nav .menu .close-btn {
    margin: 20px;
    font-size: 24px;
  }

  nav .menu a {
    font-size: 18px;
    margin: 15px;
  }

  nav .btn-2 {
    margin-left: 0;
  }

  /* nav ends/ card start */

   .animal-library {
    display: flex;
    flex-direction: row;        /* Keep side-by-side layout */
    margin-top: 5rem;
    padding: 20px 10px;
    gap: 0.2rem;
  }

  .animal-menu {
    width: 30%;                 /* Adjusted for narrow screen */
    padding: 0.5rem;
    border-right: 2px solid #ddd;
  }

  .animal-menu li {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    list-style: none;
  }

  .animal-cards-container {
    width: 70%;                /* Take up remaining space */
    display: grid;
    grid-template-columns: 1fr; /* One card per row */
    gap: 16px;
    padding-left: 5px;
  }

  .character-card {
    height: 320px;
    padding: 0 0.5rem;

  }


  .card-front img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .card-front p {
    padding: 12px;
    font-size: 0.7rem;
  }

  .card-back h2{
    font-size: 1.3rem;
  }

  .card-back p{
    font-size: 1rem;
  }


  /* footer starts */
  .footer-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .footer-brand,
  .footer-links,
  .footer-contact-info {
    width: 100%;
  }

  .footer-links .link-container {
    gap: 0.5rem;
  }

  .footer-links .links {
    width: 100%;
  }

  .contact-info-item {
    gap: 0.6rem;
    margin-bottom: 0.8rem;
  }

  .contact-info-item p {
    font-size: 0.9rem;
  }
  .footer-links .link-container {
    display: flex;
    flex-direction: row;      /* side by side */
    justify-content: space-between;
    gap: 20px;                /* optional spacing between columns */
    flex-wrap: wrap;          /* wrap if needed */
  }

  .footer-links .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;                 /* make both columns equal width */
  }

  .footer-links .links a {
    font-size: 0.9rem;
    text-decoration: none;
  }
}
